# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
* @ChShersh

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches hlint.yaml file, only these owners
# will be requested to review.
* .hlint.yaml @vrom911
* benchmark/* @vrom911

# Owners for tests
* test/*          @johnchandlerburnham
* test/Doctest.hs @ChShersh

# Owners for documentation
* README.md       @ChShersh @NaeosPsy
* CONTRIBUTING.md @ChShersh @NaeosPsy